In [20]:
#importing necessary packages
import numpy as np
import pandas as pd

In [21]:
data=pd.read_csv('/content/Housing (1).csv')

In [22]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [24]:
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [25]:
data['mainroad']=data['mainroad'].apply({'yes':1,'no':0}.get)
data['guestroom']=data['guestroom'].apply({'yes':1,'no':0}.get)
data['basement']=data['basement'].apply({'yes':1,'no':0}.get)
data['hotwaterheating']=data['hotwaterheating'].apply({'yes':1,'no':0}.get)
data['airconditioning']=data['airconditioning'].apply({'yes':1,'no':0}.get)
data['prefarea']=data['prefarea'].apply({'yes':1,'no':0}.get)
data['furnishingstatus']=data['furnishingstatus'].apply({'semi-furnished':1,'furnished':2,'unfurnished':0}.get)

In [26]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2

In [27]:
X=data[['area','bedrooms','bathrooms','stories','mainroad','guestroom','basement','hotwaterheating','airconditioning','parking','prefarea','furnishingstatus']]
y=data['price']

In [28]:
X.head()

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,1,0,0,0,1,2,1,2
1,8960,4,4,4,1,0,0,0,1,3,0,2
2,9960,3,2,2,1,0,1,0,0,2,1,1
3,7500,4,2,2,1,0,1,0,1,3,1,2
4,7420,4,1,2,1,1,1,0,1,2,0,2

In [29]:
y.head()

0    13300000
1    12250000
2    12250000
3    12215000
4    11410000
Name: price, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [45]:
from sklearn.linear_model import LinearRegression
linearmodel=LinearRegression()
linearmodel.fit(X_train,y_train)

LinearRegression()

In [46]:
linearmodel.predict(X_test)

array([3692287.02189305, 5616481.69627348, 4351028.89216154,
       4148830.39323637, 3063157.2140088 , 2020200.51055839,
       6620321.15268067, 6449436.5399189 , 2777592.24905978,
       7292176.76859483, 3484176.9005988 , 5443142.43041673,
       4817532.82298999, 2825174.16202118, 6730452.19890446,
       2673548.30872598, 2097858.4446106 , 6251099.10442019,
       4026197.00675127, 3054190.24091805, 5246337.4866102 ,
       6832610.76091606, 6940397.83497275, 3029077.96072483,
       2585153.09739048, 7304535.80233097, 5874724.81258651,
       2259597.11265043, 2724951.3927352 , 5179219.67783961,
       5980654.93729294, 4780485.30094196, 3240644.2395594 ,
       3554073.78655987, 3292811.9112899 , 2937954.80185561,
       3985175.51736847, 3828124.12007098, 5025398.97174385,
       7284299.22088457, 6187432.44771682, 4597530.65486966,
       3535315.3411352 , 5235980.19596559, 6639026.3469422 ,
       3636064.23307739, 2849904.03142274, 5778972.05478383,
       4975564.60641205, 6854048.15207811, 6388164.69474471,
       5175918.1164546 , 7803058.73038239, 5064884.34085937,
       6602194.89400889, 8060036.58892237, 6813538.27377371,
       4424824.02550439, 6478114.57558392, 2681675.6299019 ,
       3504809.42083042, 6214113.06864247, 4162489.87965021,
       3735813.81776928, 2909896.8539128 , 4377846.55220257,
       3681679.9577828 , 2693632.14144813, 2910146.62737845,
       3773688.08966815, 4201508.78348501, 3436273.00854875,
       5489691.25014524, 4610811.48220885, 4567026.87591103,
       5680078.69575795, 5442896.92375701, 6543238.05355717,
       3628412.61208197, 5055901.37672184, 3350419.76132187,
       2176109.95220634, 3299795.15919546, 5711128.777812  ,
       2732009.44018709, 3923546.983328  , 2620616.04927422,
       3019448.96454684, 6563772.30155024, 5329292.20670064,
       2959206.36859112, 7267820.97180747, 6669806.10629604,
       9200373.8275358 , 3741922.55373852, 3677636.02762421,
       3007511.23961226, 4937855.34792735, 5980222.67263533,
       3008421.85665721, 3598266.1383201 , 5081919.28259831,
       5561324.66733942, 2670659.48021142, 3993381.7963725 ,
       6596501.67913674, 4090483.53286558, 4360427.43894239,
       7589230.3270423 ])

In [47]:
linearmodel.score(X,y)

0.6782939747329293

In [51]:
data_new={'area':5450,'bedrooms':2,'bathrooms':1,'stories':1,'mainroad':1,'guestroom':2,'basement':0,'hotwaterheating':1,'airconditioning':1,'parking':1,'prefarea':1,'furnishingstatus':0}
index=[1]
my_data=pd.DataFrame(data_new,index)

In [52]:
print(my_data)

   area  bedrooms  bathrooms  stories  mainroad  guestroom  basement  \
1  5450         2          1        1         1          2         0

   hotwaterheating  airconditioning  parking  prefarea  furnishingstatus
1                1                1        1         1                 0

In [53]:
my_data_price=linearmodel.predict(my_data)
print("price of new house data is=",my_data_price)

price of new house data is= [6230905.92125982]